<h1>ngstyle works!</h1>
<div [ngStyle]="{'color':'red'}">
    jfdkf
</div>
<div [ngStyle]="{'color': colorVal, 'background-color': '#ddd'}">
    NgStyle example
    </div>

    <p [ngStyle]="{'color':'violet', 'font-size': 'larger', 'font-weight': 'bolder'}">Arpitaaa</p>
    <div *ngFor="let t of array">
        <p [ngClass]="{'text-success':t.name=='arpita','text-danger':t.name=='ankita'}">{{t.name}}</p>
        
    </div>

    <h1 [ngStyle]="{'color':'wheat','border':'1px solid green'}">pretty girl</h1>