
<h1 >This is the first component</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repudiandae placeat quod, vel nesciunt alias voluptatum vitae ipsum modi atque quidem, unde corrupti voluptates dicta dolor saepe a consequuntur odio.</p>
<a href="https://www.google.com/" target="_blank">google</a>
<div>
    <button (click)="SendToParent()"> Send Data from child</button>
</div>
<div><button (click)="createFun()">clicke button</button></div>

<button (click)="should()">should</button>