<p>dropdown works!</p>
<!-- <p>ng-switch works!</p> -->
      


<div>
    <label for="country">Select Country:</label>
    <select id="country" [(ngModel)]="selectedCountry" (ngModelChange)="populateCities()">
      <option value="">-- Select Country --</option>
      <option *ngFor="let country of countries" [value]="country.value">{{ country.name }}</option>
    </select>
  </div>
  
  <div>
    <label for="city">Select City:</label>
    <select id="city" [(ngModel)]="selectedCity">
      <option value="">-- Select City --</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  