<p>passwordconfirm works!</p>
<form action="" [formGroup]="myreactiveform"  (ngSubmit)="onsubmit()">
    <input type="text" password required>
    <small *ngIf="myreactiveform.get('passowrd').errors['pattern']"> please enter digit</small>
<div><input type="text" required>
    <small *ngIf="!myreactiveform.get('confirm').valid && myreactiveform.get('confirm').touched">please enter the vlaue
    <small *ngIf="myreactiveform.get('passowrd').value!=myreactiveform.get('confirm').value">password mismatched</small>
    </small>
</div>
<button type="submit">submit</button>
</form>
